<template>
    <table class="table">
    <thead>
        <tr>
            <th>
                DeliveryType
            </th>
            <th>
                PaymentMethod
            </th>
            <th>
                ItemName
            </th>
            <th>
                Price
            </th>
            <th>
                Delivery Address
            </th>
            <th>
                Postal Index
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="order in orders" :key="order.id">
            <td>
                {{order.deliveryTypeName}}
            </td>
            <td>
                {{order.paymentMethodName}}
            </td>
            <td>
              <a v-for="item in order.items" :key="item.id" v-bind:href="linkDetails + item.id"><b>{{item.itemName}} </b></a>
            </td>
            <td>
                {{order.orderPrice}} $
            </td>
            <td>
                {{order.deliveryAddress}}
            </td>
            <td>
                {{order.postalIndex}}
            </td>
        </tr>
    </tbody>
    </table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ILoginDTO } from "@/types/ILoginDTO";
import store from "../../store";
import router from "../../router";
import JwtDecode from "jwt-decode";

@Component
export default class LoginIndex extends Vue {
    private userId = "";

    get orders() {
        return store.state.orders.filter(order => { return order.appUserId === this.userId }).sort(function(a, b) { return Number(a.orderPrice) - Number(b.orderPrice) });
    }

    get linkDetails(): string {
        return "/#/items/details/";
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        store.dispatch("getOrders");
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
