<template>
    <div class="row">
        <div class="col-md-6">
            <h4>{{translations.find(x => x.code === "Creation")["name"]}}</h4>
            <h2 v-if="itemCreationWasOk === false">Bad creation attempt</h2>
            <h2 v-if="itemCreationWasOk === true">Item was created</h2>
            <hr />
            <div v-if="itemCreationWasOk === null">
            <div class="form-group">
                <label for="Input_Name">{{translations.find(x => x.code === "ItemName")["name"]}}</label>
                <input
                    v-model="itemInfo.itemName"
                    class="form-control"
                    type="itemName"
                    id="Input_Name"
                />
            </div>
            <div class="form-group">
                <label for="Input_YearMade">{{translations.find(x => x.code === "YearMade")["name"]}}</label>
                <input
                    v-model="itemInfo.yearMade"
                    class="form-control"
                    id="Input_YearMade"
                    type="number"
                    min="0"
                    max="2020"
                />
            </div>
            <div class="form-group">
                <label for="Input_ItemDescription" >{{translations.find(x => x.code === "ItemDescription")["name"]}}</label>
                <textarea id="w3review" name="w3review" rows="4" cols="50"
                    v-model="itemInfo.itemDescription"
                    class="form-control"
                    type="itemDescription"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="Input_Price">{{translations.find(x => x.code === "Price")["name"]}} $ (only integer)</label>
                <input v-model="itemInfo.price" class="form-control" id="Input_Price" type="number" min="0"/>
            </div>
            <div>{{translations.find(x => x.code === "ItemQuality")["name"]}}</div>
            <select
                v-model="itemInfo.itemQualityId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="itemQuality in itemQualities"
                    :key="itemQuality.id"
                    v-bind:value="itemQuality.id"
                >{{itemQuality.qualityName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "MainCategory")["name"]}}</div>
            <select
                v-model="itemInfo.mainCategoryId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="mainCategory in mainCategories"
                    :key="mainCategory.id"
                    v-bind:value="mainCategory.id"
                >{{mainCategory.mainCategoryName}}</option>
            </select>
            <div v-if="itemInfo.mainCategoryId.length === 36">{{translations.find(x => x.code === "DetailedCategory")["name"]}}</div>
            <select
                v-if="itemInfo.mainCategoryId.length === 36"
                v-model="itemInfo.detailedCategoryId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="filteredCategory in filteredCategories"
                    :key="filteredCategory.id"
                    v-bind:value="filteredCategory.id"
                >{{filteredCategory.detailedCategoryName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "Location")["name"]}}</div>
            <select
                v-model="itemInfo.locationId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="location in locations"
                    :key="location.id"
                    v-bind:value="location.id"
                >{{location.locationName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "AddPictureLinks")["name"]}} (min 1)</div>
            <ul>
                <li v-for="(input, index) in data.inputs" :key="(input, index)">
                    <input type="text" v-model="input.link" />
                    <button @click="deleteRow(index)">{{translations.find(x => x.code === "Delete")["name"]}}</button>
                </li>
            </ul>
            <p></p>
            <button @click="addRow">{{translations.find(x => x.code === "Add link")["name"]}}</button>
            <div class="form-group">
                <button @click="createOnClick($event)" class="btn btn-primary">{{translations.find(x => x.code === "Create")["name"]}}</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { IItemDTO } from "@/types/IItemDTO";
import store from "../../store";
import router from "../../router";
import { uuid } from "vue-uuid";
import JwtDecode from "jwt-decode";
import { ILocation } from "@/domain/ILocation";
import { IMainCategory } from "../../domain/IMainCategory";
import { IDetailedCategory } from "../../domain/IDetailedCategory";
import { IItemQuality } from "../../domain/IItemQuality";
import { IPictureDTO } from "../../types/IPictureDTO";
import { ILinkDTO } from "../../types/ILinkDTO";
import { ICulture } from '../../domain/ICulture';

@Component
export default class ItemCreate extends Vue {
    private data: ILinkDTO = {
        inputs: []
    };

    addRow() {
        this.data.inputs.push({
            link: ""
        });
    }

    deleteRow(index: number) {
        this.data.inputs.splice(index, 1);
    }

    get locations(): ILocation[] {
        return store.state.locations.sort((a, b) => a.locationName.localeCompare(b.locationName));
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get mainCategories(): IMainCategory[] {
        return store.state.mainCategories.sort((a, b) => a.mainCategoryName.localeCompare(b.mainCategoryName));
    }

    get itemQualities(): IItemQuality[] {
        return store.state.itemQualities;
    }

    get detailedCategories(): IDetailedCategory[] {
        console.log(this.itemQualities);
        return store.state.detailedCategories.sort((a, b) => a.detailedCategoryName.localeCompare(b.detailedCategoryName));
    }

    get filteredCategories(): IDetailedCategory[] {
        this.itemInfo.detailedCategoryId = "";
        return this.detailedCategories.filter(detailedCategory => {
            return detailedCategory.mainCategoryId.includes(
                this.itemInfo.mainCategoryId
            );
        });
    }

    private itemCreationWasOk: boolean | null = null;
    private userId = "";
    private link = "";

    private itemInfo: IItemDTO = {
        id: "",
        itemName: "",
        yearMade: 0,
        itemDescription: "",
        price: 0,
        locationId: "",
        itemQualityId: "",
        itemStatusId: "a56ded0a-b971-4ad7-9201-a52148fa75b5",
        detailedCategoryId: "",
        mainCategoryId: "",
        appUserId: ""
    };

    createOnClick(): void {
        this.itemInfo.id = uuid.v5(uuid.v1(), uuid.v4());
        this.itemInfo.appUserId = this.userId;
        this.data.inputs = this.data.inputs.filter(input => { return input.link.length > 0 });
        if (this.itemInfo.itemName.length > 0 && this.data.inputs.length > 0 && Number(this.itemInfo.yearMade) <= 2020 && Number(this.itemInfo.yearMade) >= 0 && Number(this.itemInfo.price) >= 0) {
            this.itemInfo.yearMade = Number(this.itemInfo.yearMade);
            this.itemInfo.price = Number(this.itemInfo.price);
            store
                .dispatch("createItem", this.itemInfo)
                .then((isCreated: boolean) => {
                    if (isCreated) {
                        for (const iterator of this.data.inputs) {
                            if (iterator.link) {
                                const pict: IPictureDTO = {
                                    id: uuid.v5(uuid.v1(), uuid.v4()),
                                    itemId: this.itemInfo.id,
                                    pictureUrl: iterator.link
                                };
                                store.dispatch("createPicture", pict);
                            }
                        }
                        this.itemCreationWasOk = true;
                    } else {
                        this.itemCreationWasOk = false;
                    }
                });
        }
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
        console.log("I am hrtr  " + JSON.stringify(this.translations));
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        store.dispatch("getLocations");
        store.dispatch("getMainCategories");
        store.dispatch("getDetailedCategories");
        store.dispatch("getItemQualities");
        store.dispatch("getSpecificCultures")
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
