<template>
    <div>
        <p style="font-size:30px"><b>{{session.itemName}}</b></p>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img
                        v-bind:src="session.displayPictureUrl"
                        class="d-block w-100 img-fit"
                        alt="..."
                        width="1500px"
                        height="700px"
                    />
                </div>
                <div
                    v-for="picture in session.pictures.slice(1)"
                    :key="picture.id"
                    class="carousel-item"
                >
                    <img
                        v-bind:src="picture.pictureUrl"
                        class="d-block w-100 img-fit"
                        alt="..."
                        width="1500px"
                        height="700px"
                    />
                </div>
            </div>
            <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
            >
                <span
                    class="carousel-control-prev-icon"
                    style="background-color:black"
                    aria-hidden="true"
                ></span>
                <span class="sr-only" style="background-color:black">Previous</span>
            </a>
            <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
            >
                <span
                    class="carousel-control-next-icon"
                    style="background-color:black"
                    aria-hidden="true"
                ></span>
                <span class="sr-only" style="background-color:black">Next</span>
            </a>
        </div>
        <div><b>{{translations.find(x => x.code === "Location")["name"]}}</b>: {{session.location}}</div>
        <div><b>{{translations.find(x => x.code === "YearMade")["name"]}}</b>: {{session.yearMade}}</div>
        <div><b>{{translations.find(x => x.code === "Price")["name"]}}</b>: {{session.price}} $</div>
        <div><b>{{translations.find(x => x.code === "ItemQuality")["name"]}}</b>: {{session.itemQuality}}</div>
        <div><b>{{translations.find(x => x.code === "MainCategory")["name"]}}</b>: {{session.mainCategory}}</div>
        <div><b>{{translations.find(x => x.code === "DetailedCategory")["name"]}}</b>: {{session.detailedCategory}}</div>
        <div><b>{{translations.find(x => x.code === "ItemStatus")["name"]}}</b>: {{session.itemStatus}}</div>
        <p><b>{{translations.find(x => x.code === "ItemDescription")["name"]}}</b>: {{session.itemDescription}}</p>
        <div class="form-group"><b>Seller email:</b> {{session.sellerName}}</div>
        <div v-if="userId.length === 36 && userId !== session.appUserId && onSale" class="form-group">
            <button @click="addToCart($event)" class="btn btn-primary">{{translations.find(x => x.code === "AddToCart")["name"]}}</button>
        </div>
        <div v-if="comments.length !== 0">
        <div class="form-group"><b>Seller rating: {{mediumRating}}/5 </b></div>
        <div class="form-group">Seller comments:</div>
        <div
            v-for="comment in comments"
            :key="comment.id"
        >{{comment.commentText}}: <b> Rating {{comment.rating}} </b></div>
        </div>
        <div v-else>Seller does not have any reviews yet</div>
        <div v-if="!alreadyCommented && userId.length === 36">
            <div class="form-group">
                <label for="Input_CommentText">Comment:</label>
                <input
                    v-model="commentInfo.commentText"
                    class="form-control"
                    type="commentText"
                    id="Input_CommentText"
                />
            </div>
            <div>{{translations.find(x => x.code === "Rating")["name"]}}</div>
            <select
                v-model="commentInfo.ratingId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="rating in ratings"
                    :key="rating.id"
                    v-bind:value="rating.id"
                >{{rating.ratingValue}}</option>
            </select>
            <div>
            <button @click="addComment($event)" class="btn btn-primary">{{translations.find(x => x.code === "AddComment")["name"]}}</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import { IItem } from "../../domain/IItem";
import store from "../../store";
import { ICart } from "@/domain/ICart";
import JwtDecode from "jwt-decode";
import { IItemInCartDTO } from "../../types/IItemInCartDTO";
import { uuid } from "vue-uuid";
import { IComment } from "../../domain/IComment";
import { ICommentDTO } from "../../types/ICommentDTO";
import { IRating } from '../../domain/IRating';
import { ICulture } from '@/domain/ICulture';

@Component
export default class ItemDetails extends Vue {
    private userId = "";

    private mediumRating = 0.0;
    private onSale = true;

    get session(): IItem {
        return store.state.item;
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get comments(): IComment[] {
        return store.state.comments.filter(
            comment => comment.appUserId === this.session.appUserId
        ).sort(function(a, b) { return Number(a.rating) - Number(b.rating) });
    }

    get ratings(): IRating[] {
        store.state.ratings = store.state.ratings.sort(function(a, b) { return Number(a.ratingValue) - Number(b.ratingValue) })
        return store.state.ratings
    }

    get alreadyCommented(): boolean {
        if (this.userId === this.session.appUserId) {
            return true;
        }
        for (const comment of this.comments) {
            if (comment.creator === this.userId) {
                return true;
            }
        }
        return false;
    }

    get cart(): ICart {
        return store.state.carts.filter(cart => {
            return cart.appUserId.includes(this.userId);
        })[0];
    }

    private commentInfo: ICommentDTO = {
        id: "",
        commentText: "",
        appUserId: "",
        ratingId: "",
        creator: ""
    };

    addComment(): void {
        this.commentInfo.id = uuid.v5(uuid.v1(), uuid.v4());
        this.commentInfo.appUserId = this.session.appUserId;
        this.commentInfo.creator = this.userId;
        store.dispatch("createComment", this.commentInfo)
    }

    addToCart(): void {
        const cartItems = this.cart.items;
        if (!cartItems.some(item => item.id.includes(this.session.id))) {
            const cartitem: IItemInCartDTO = {
                itemid: this.session.id,
                cartId: this.cart.id,
                id: uuid.v5(uuid.v1(), uuid.v4())
            };
            store.dispatch("createItemInCart", cartitem);
            store.dispatch("getCarts");
            //    location.reload()
        }
        store.dispatch("getCarts");
    }

    @Prop()
    private id!: string;

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        store.dispatch("getOneItem", this.id);
        store.dispatch("getCarts");
        store.dispatch("getComments");
        store.dispatch("getRatings");
        store.dispatch("getSpecificCultures")
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
        this.onSale = this.session.itemStatus.includes("On Sale")
        this.mediumRating = 0;
        for (const comment of this.comments) {
            this.mediumRating += parseFloat(comment.rating);
        }
        this.mediumRating =
            Math.round((this.mediumRating / this.comments.length) * 100) / 100;
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
<style scoped>
.img-fit {
  object-fit: contain;
}
</style>
