<template>
    <div class="row">
        <div class="col-md-6">
            <h4>{{translations.find(x => x.code === "Edit")["name"]}}</h4>
            <hr />
            <div class="form-group">
                <label for="Input_Name">{{translations.find(x => x.code === "ItemName")["name"]}}</label>
                <input v-model="item.itemName" class="form-control" type="itemName" id="Input_Name" />
            </div>
            <div class="form-group">
                <label for="Input_YearMade">{{translations.find(x => x.code === "YearMade")["name"]}}</label>
                <input
                    v-model="item.yearMade"
                    class="form-control"
                    type="number"
                    min="0"
                    max="2020"
                    id="Input_YearMade"
                />
            </div>
            <div class="form-group">
                <label for="Input_ItemDescription">{{translations.find(x => x.code === "ItemDescription")["name"]}}</label>
                <textarea id="w3review" name="w3review" rows="4" cols="50"
                    v-model="item.itemDescription"
                    class="form-control"
                    type="itemDescription"
                ></textarea>
            </div>
            <div class="form-group">
                <label for="Input_Price">{{translations.find(x => x.code === "Price")["name"]}} $ (only integer)</label>
                <input v-model="item.price" class="form-control" type="number" min="0" id="Input_Price" />
            </div>
            <div>{{translations.find(x => x.code === "ItemQuality")["name"]}}</div>
            <select
                v-model="item.itemQualityId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="itemQuality in itemQualities"
                    :key="itemQuality.id"
                    v-bind:value="itemQuality.id"
                >{{itemQuality.qualityName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "MainCategory")["name"]}}</div>
            <select
                v-model="item.mainCategoryId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="mainCategory in mainCategories"
                    :key="mainCategory.id"
                    v-bind:value="mainCategory.id"
                >{{mainCategory.mainCategoryName}}</option>
            </select>
            <div v-if="item.mainCategoryId.length === 36">{{translations.find(x => x.code === "DetailedCategory")["name"]}}</div>
            <select
                v-if="item.mainCategoryId.length === 36"
                v-model="item.detailedCategoryId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="filteredCategory in filteredCategories"
                    :key="filteredCategory.id"
                    v-bind:value="filteredCategory.id"
                >{{filteredCategory.detailedCategoryName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "Location")["name"]}}</div>
            <select
                v-model="item.locationId"
                class="selectpicker"
                title="Choose one of the following..."
            >
                <option
                    v-for="location in locations"
                    :key="location.id"
                    v-bind:value="location.id"
                >{{location.locationName}}</option>
            </select>
            <div>{{translations.find(x => x.code === "AddPictureLinks")["name"]}} (min 1)</div>
            <ul>
                <li v-for="(input, index) in data.inputs" :key="(input, index)">
                    <input type="text" v-model="input.link" />
                    <button @click="deleteRow(index)">{{translations.find(x => x.code === "Delete")["name"]}}</button>
                </li>
            </ul>
            <p></p>
            <button @click="addRow">{{translations.find(x => x.code === "Add link")["name"]}}</button>
            <p></p>
            <div class="form-group">
                <button @click="editOnClick($event)" class="btn btn-primary">{{translations.find(x => x.code === "Edit")["name"]}}</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import store from "../../store";
import JwtDecode from "jwt-decode";
import { IItem } from "@/domain/IItem";
import { IItemDTO } from "@/types/IItemDTO";
import { ILocation } from "@/domain/ILocation";
import { IMainCategory } from "@/domain/IMainCategory";
import { IItemQuality } from "@/domain/IItemQuality";
import { IDetailedCategory } from "@/domain/IDetailedCategory";
import { IPicture } from "../../domain/IPicture";
import { ILinkDTO } from "@/types/ILinkDTO";
import { IPictureDTO } from "@/types/IPictureDTO";
import { uuid } from "vue-uuid";
import { ICulture } from '@/domain/ICulture';

@Component
export default class ItemEdit extends Vue {
    private update = true;
    private itemCreationWasOk: boolean | null = null;
    private data: ILinkDTO = {
        inputs: []
    };

    addRow() {
        this.update = false;
        this.data.inputs.push({
            link: ""
        });
    }

    deleteRow(index: number) {
        this.update = false;
        this.data.inputs.splice(index, 1);
    }

    get item(): IItem {
        return store.state.item;
    }

    get pictures(): IPicture[] {
        return store.state.pictures.filter(picture => { return picture.itemId.includes(this.item.id) });
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get locations(): ILocation[] {
        return store.state.locations.sort((a, b) => a.locationName.localeCompare(b.locationName));
    }

    get mainCategories(): IMainCategory[] {
        return store.state.mainCategories.sort((a, b) => a.mainCategoryName.localeCompare(b.mainCategoryName));
    }

    get itemQualities(): IItemQuality[] {
        return store.state.itemQualities;
    }

    get detailedCategories(): IDetailedCategory[] {
        return store.state.detailedCategories.sort((a, b) => a.detailedCategoryName.localeCompare(b.detailedCategoryName));
    }

    get filteredCategories(): IDetailedCategory[] {
        return this.detailedCategories.filter(detailedCategory => {
            return detailedCategory.mainCategoryId.includes(
                this.item.mainCategoryId
            );
        });
    }

    editOnClick(): void {
        this.item.yearMade = Number(this.item.yearMade);
        this.item.price = Number(this.item.price);
        this.item.orderId = null;
        if (this.item.itemName.length > 0 && this.data.inputs.length > 0 && Number(this.item.yearMade) <= 2020 && Number(this.item.yearMade) >= 0 && Number(this.item.price) >= 0) {
            store.dispatch("updateItem", this.item).then((isCreated: boolean) => {
                if (isCreated) {
                    for (const picture of this.pictures) {
                        store.dispatch("deletePicture", picture.id);
                    }
                    for (const iterator of this.data.inputs) {
                        if (iterator.link) {
                            const pict: IPictureDTO = {
                                id: uuid.v5(uuid.v1(), uuid.v4()),
                                itemId: this.item.id,
                                pictureUrl: iterator.link
                            };
                            store.dispatch("createPicture", pict);
                        }
                    }
                    this.itemCreationWasOk = true;
                    router.push("/items");
                } else {
                    this.itemCreationWasOk = false;
                }
            });
        }
    }

    @Prop()
    private id!: string;

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        store.dispatch("getMainCategories");
        store.dispatch("getOneItem", this.id);
        store.dispatch("getLocations");
        store.dispatch("getItemQualities");
        store.dispatch("getDetailedCategories");
        store.dispatch("getPictures");
        store.dispatch("getSpecificCultures")
    }

    beforeUpdate(): void {
        if (this.update) {
            this.data.inputs = [];
            for (const picture of this.pictures) {
                this.data.inputs.push({
                    link: picture.pictureUrl
                });
            }
        }
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
