<template>
    <div>
        <button
            class="btn btn-primary btn-sm"
            type="button"
            data-toggle="collapse"
            data-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample"
        >{{translations.find(x => x.code === "Filters")["name"]}}</button>
        <br />
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md">
                        <br />
                        <div class="accordion" id="accordion2">
                            <!--ACCORDION ITEM TWO-->
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a
                                        class="accordion-toggle"
                                        data-toggle="collapse"
                                        data-parent="#accordion2"
                                        href="#collapseTwo"
                                    >{{translations.find(x => x.code === "Categories")["name"]}}</a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div
                                        class="accordion-inner"
                                        v-for="maincategory in mainCategories"
                                        :key="maincategory.id"
                                    >
                                        <!--ACCORDION INSIDE ACCORDION ITEM TWO-->
                                        <div class="accordion" id="accordion1">
                                            <div class="accordion-group">
                                                <div class="accordion-heading">
                                                    <a
                                                        class="accordion-toggle text-info"
                                                        data-toggle="collapse"
                                                        parent="#accordion1"
                                                        v-bind:href="sharp+collapse+maincategory.id"
                                                    >
                                                        <b>{{maincategory.mainCategoryName}} {{translations.find(x => x.code === "Categories")["name"]}}</b>
                                                    </a>
                                                </div>
                                                <div
                                                    v-bind:id="collapse+maincategory.id"
                                                    class="accordion-body collapse"
                                                >
                                                    <div
                                                        v-for="detailedCategory in maincategory.detailedCategories"
                                                        :key="detailedCategory.id"
                                                        class="custom-control custom-checkbox row"
                                                    >
                                                        <input
                                                            :value="detailedCategory.id"
                                                            v-model="detailedCategoriesToSearch"
                                                            type="checkbox"
                                                            class="custom-control-input"
                                                            :id="detailedCategory.id"
                                                            checked
                                                        />
                                                        <label
                                                            class="custom-control-label"
                                                            :for="detailedCategory.id"
                                                        >{{detailedCategory.detailedCategoryName}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a
                                    class="accordion-toggle"
                                    data-toggle="collapse"
                                    data-parent="#accordion2"
                                    href="#collapseThree"
                                >{{translations.find(x => x.code === "ItemQuality")["name"]}}</a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse">
                                <div
                                    v-for="quality in qualities"
                                    :key="quality.id"
                                    class="custom-control custom-checkbox row"
                                >
                                    <input
                                        :value="quality.id"
                                        v-model="qualitiesToSearch"
                                        type="checkbox"
                                        class="custom-control-input"
                                        :id="quality.id"
                                        checked
                                    />
                                    <label
                                        class="custom-control-label"
                                        :for="quality.id"
                                    >{{quality.qualityName}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a
                                    class="accordion-toggle"
                                    data-toggle="collapse"
                                    data-parent="#accordion2"
                                    href="#collapseKeek"
                                >{{translations.find(x => x.code === "Location")["name"]}}</a>
                            </div>
                            <div id="collapseKeek" class="accordion-body collapse">
                                <div
                                    v-for="location in locations"
                                    :key="location.id"
                                    class="custom-control custom-checkbox row"
                                >
                                    <input
                                        :value="location.id"
                                        v-model="locationsToSearch"
                                        type="checkbox"
                                        class="custom-control-input"
                                        :id="location.id"
                                        checked
                                    />
                                    <label
                                        class="custom-control-label"
                                        :for="location.id"
                                    >{{location.locationName}}</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            {{translations.find(x => x.code === "MinPrice")["name"]}}
                            <input
                                v-model="minPrice"
                                class="form-control mr-sm-2 col-md-4"
                                type="number"
                                min="0"
                                aria-label="minPrice"
                            />
                        </div>
                        <div>
                            {{translations.find(x => x.code === "MaxPrice")["name"]}}
                            <input
                                v-model="maxPrice"
                                class="form-control mr-sm-2 col-md-4"
                                type="number"
                                min="0"
                                aria-label="maxPrice"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row p-3">
            <input
                v-model="search"
                class="form-control mr-sm-2 col-md-4"
                type="search"
                aria-label="Search"
            />
            <div class="my-2 my-sm-0">{{translations.find(x => x.code === "Search")["name"]}}</div>
        </div>
        <h1>{{translations.find(x => x.code === "Instruments")["name"]}}</h1>
        <div class="row">
            <div v-for="session in sessions" :key="session.id">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="card" style="width:400px">
                        <img
                            class="card-img-top img-fit"
                            v-bind:src="session.displayPictureUrl"
                            alt="Card image cap"
                        />
                        <div class="card-body" style="background-color: #d8e6e6;">
                            <h5 class="card-title">{{session.itemName}}</h5>
                            <p class="card-text">{{translations.find(x => x.code === "Location")["name"]}}: {{session.location}}</p>
                            <p class="card-text">{{translations.find(x => x.code === "Price")["name"]}}: {{session.price}} $</p>
                            <p class="card-text">{{translations.find(x => x.code === "ItemQuality")["name"]}}: {{session.itemQuality}}</p>
                            <div class="row">
                                <a
                                    style="margin: 5px"
                                    v-bind:href="linkDetails + session.id"
                                    class="btn btn-primary"
                                >{{translations.find(x => x.code === "Details")["name"]}}</a>
                                <a
                                    v-if="userId === session.appUserId || admin"
                                    v-bind:href="linkEdit + session.id"
                                    style="margin: 5px"
                                    class="btn btn-warning"
                                >{{translations.find(x => x.code === "Edit")["name"]}}</a>
                                <br />
                                <button
                                    v-if="userId === session.appUserId || admin"
                                    @click="deleteOnClick(session)"
                                    style="margin: 5px"
                                    class="btn btn-danger"
                                >{{translations.find(x => x.code === "Delete")["name"]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import { IItem } from "../../domain/IItem";
import store from "../../store";
import { ILocation } from "../../domain/ILocation";
import { IDetailedCategory } from "../../domain/IDetailedCategory";
import { IMainCategory } from "../../domain/IMainCategory";
import { IItemQuality } from "../../domain/IItemQuality";
import JwtDecode from "jwt-decode";
import { ICulture } from '@/domain/ICulture';

@Component
export default class ItemsIndex extends Vue {
    private user = "";
    private userId = "";
    private sharp = "#";
    private collapse = "collapse";
    private search = "";
    private locationsToSearch: Array<string> = [];
    private detailedCategoriesToSearch: Array<string> = [];
    private qualitiesToSearch: Array<string> = [];
    private myItems = "";
    private items: IItem[] = [];
    private minPrice = 0;
    private maxPrice = 0;
    private admin = false;

    get initialItems(): IItem[] {
        console.log(this.admin + "  |  " + this.user.includes("admin"));
        return store.state.items.filter(item => {
            return item.itemStatus.includes("On Sale");
        });
    }

    get sessions(): IItem[] {
        let items = this.initialItems;
        items = items.filter(item => {
            return item.itemName
                .toLowerCase()
                .includes(this.search.toLowerCase());
        });
        if (this.detailedCategoriesToSearch.length !== 0) {
            items = items.filter(item => {
                return this.detailedCategoriesToSearch.includes(
                    item.detailedCategoryId
                );
            });
        }
        if (this.qualitiesToSearch.length !== 0) {
            items = items.filter(item => {
                return this.qualitiesToSearch.includes(item.itemQualityId);
            });
        }
        if (this.locationsToSearch.length !== 0) {
            items = items.filter(item => {
                return this.locationsToSearch.includes(item.locationId);
            });
        }
        if (this.minPrice > 0) {
            items = items.filter(item => {
                return item.price > this.minPrice;
            });
        }
        if (this.maxPrice > 0) {
            items = items.filter(item => {
                return item.price < this.maxPrice;
            });
        }
        items = items.sort(function(a, b) { return Number(a.price) - Number(b.price) })
        return items;
    }

    get qualities(): IItemQuality[] {
        return store.state.itemQualities;
    }

    get locations(): ILocation[] {
        return store.state.locations.sort((a, b) => a.locationName.localeCompare(b.locationName));
    }

    get detailedCategories(): IDetailedCategory[] {
        return store.state.detailedCategories.sort((a, b) => a.detailedCategoryName.localeCompare(b.detailedCategoryName));
    }

    get mainCategories(): IMainCategory[] {
        return store.state.mainCategories.sort((a, b) => a.mainCategoryName.localeCompare(b.mainCategoryName));
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get linkDetails(): string {
        return "/#/items/details/";
    }

    get linkEdit(): string {
        return "/#/items/edit/";
    }

    deleteOnClick(session: IItem): void {
        store.dispatch("deleteItem", session.id);
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        store.dispatch("getItems");
        store.dispatch("getLocations");
        store.dispatch("getDetailedCategories");
        store.dispatch("getMainCategories");
        store.dispatch("getItemQualities");
        store.dispatch("getSpecificCultures")
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
<style scoped>
.img-fit {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
</style>
