<template>
    <div>
        <h1>{{translations.find(x => x.code === "Instruments")["name"]}}</h1>
        <div class="row">
            <div v-for="session in sessions" :key="session.id">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="card" style="width:400px">
                        <img
                            class="card-img-top img-fit"
                            v-bind:src="session.displayPictureUrl"
                            alt="Card image cap"
                        />
                        <div class="card-body" style="background-color: #d8e6e6;">
                            <h5 class="card-title">{{session.itemName}}</h5>
                            <p class="card-text">{{translations.find(x => x.code === "Location")["name"]}}: {{session.location}}</p>
                            <p class="card-text">{{translations.find(x => x.code === "Price")["name"]}}: {{session.price}} $</p>
                            <p class="card-text">{{translations.find(x => x.code === "Quality")["name"]}}: {{session.itemQuality}}</p>
                            <p class="card-text">Status: <b>{{session.itemStatus}}</b></p>
                            <div class="row">
                                <a
                                    style="margin: 5px"
                                    v-bind:href="linkDetails + session.id"
                                    class="btn btn-primary"
                                >{{translations.find(x => x.code === "Details")["name"]}}</a>
                                <a
                                    v-if="(userId === session.appUserId || admin) && session.itemStatus.length !== 4"
                                    v-bind:href="linkEdit + session.id"
                                    style="margin: 5px"
                                    class="btn btn-warning"
                                >{{translations.find(x => x.code === "Edit")["name"]}}</a>
                                <br />
                                <button
                                    v-if="(userId === session.appUserId || admin) && session.itemStatus.length !== 4"
                                    @click="deleteOnClick(session)"
                                    style="margin: 5px"
                                    class="btn btn-danger"
                                >{{translations.find(x => x.code === "Delete")["name"]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import router from "../../router";
import { IItem } from "../../domain/IItem";
import store from "../../store";
import { ILocation } from "../../domain/ILocation";
import { IDetailedCategory } from "../../domain/IDetailedCategory";
import { IMainCategory } from "../../domain/IMainCategory";
import { IItemQuality } from "../../domain/IItemQuality";
import JwtDecode from "jwt-decode";
import { ICulture } from '@/domain/ICulture';

@Component
export default class ItemsIndex extends Vue {
    private user = "";
    private userId = "";
    private myItems = "";
    private items: IItem[] = [];
    private minPrice = 0;
    private maxPrice = 0;
    private admin = false;

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get initialItems(): IItem[] {
        console.log(this.admin + "  |  " + this.user.includes("admin"));
        return store.state.items.filter(item => {
            return item.itemStatus.includes("On Sale");
        });
    }

    get sessions(): IItem[] {
        return store.state.items.filter(item => item.appUserId === this.userId).sort((a, b) => a.itemStatus.localeCompare(b.itemStatus));
    }

    get linkDetails(): string {
        return "/#/items/details/";
    }

    get linkEdit(): string {
        return "/#/items/edit/";
    }

    deleteOnClick(session: IItem): void {
        store.dispatch("deleteItem", session.id);
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        store.dispatch("getItems");
        store.dispatch("getLocations");
        store.dispatch("getDetailedCategories");
        store.dispatch("getSpecificCultures")
        store.dispatch("getMainCategories");
        store.dispatch("getItemQualities");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.user =
                decoded[
                    "http://schemas.microsoft.com/ws/2008/06/identity/claims/role"
                ];
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
            if (this.user === undefined) {
                this.user = "";
            }
            this.admin = this.user.includes("admin");
        }
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
<style scoped>
.img-fit {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
</style>
