<template>
    <div>
        <div class="col-md-6">
            <h4> Cart </h4>
            <div v-if="bought === true"> <h2>Order was made</h2> </div>
            </div>
        <div class="row">
            <div v-for="session in cart.items" :key="session.id">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="card" style="width:400px">
                        <img
                            class="card-img-top img-fit"
                            v-bind:src="session.displayPictureUrl"
                            alt="Card image cap"
                        />
                        <div class="card-body" style="background-color: #d8e6e6;">
                            <h5 class="card-title">{{session.itemName}}</h5>
                            <p class="card-text">{{translations.find(x => x.code === "Location")["name"]}}: {{session.location}}</p>
                            <p class="card-text">{{translations.find(x => x.code === "Price")["name"]}}: {{session.price}} $</p>
                            <p class="card-text">{{translations.find(x => x.code === "Quality")["name"]}}: {{session.itemQuality}}</p>
                            <div class="row">
                                <a
                                    style="margin: 5px"
                                    v-bind:href="linkDetails + session.id"
                                    class="btn btn-primary"
                                >{{translations.find(x => x.code === "Details")["name"]}}</a>
                                <br />
                                <button
                                    @click="deleteOnClick(session)"
                                    style="margin: 5px"
                                    class="btn btn-danger"
                                >{{translations.find(x => x.code === "DeleteFromCart")["name"]}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="cart.items.length != 0" class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block text-left collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                        >{{translations.find(x => x.code === "MakeOrder")["name"]}}</button>
                    </h2>
                </div>
                <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                >
                    <div class="card-body">
                        <div>{{translations.find(x => x.code === "ChoosePaymentMethod")["name"]}}</div>
                        <select
                            v-model="order.paymentMethodId"
                            class="selectpicker"
                            title="Choose one of the following..."
                        >
                            <option
                                v-for="paymentMethod in paymentMethods"
                                :key="paymentMethod.id"
                                v-bind:value="paymentMethod.id"
                            >{{paymentMethod.paymentMethodName}}</option>
                        </select>
                        <div class="form-group">
                            <label for="Input_PaymentInfo">{{translations.find(x => x.code === "PaymentInfo")["name"]}}</label>
                            <input
                                v-model="order.paymentInfo"
                                class="form-control"
                                type="paymentInfo"
                                id="Input_PaymentInfo"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Input_DeliveryAddress">{{translations.find(x => x.code === "DeliveryAddress")["name"]}}</label>
                            <input
                                v-model="order.deliveryAddress"
                                class="form-control"
                                type="deliveryAddress"
                                id="Input_DeliveryAddress"
                            />
                        </div>
                        <div class="form-group">
                            <label for="Input_PostalIndex">{{translations.find(x => x.code === "PostalIndex")["name"]}}</label>
                            <input
                                v-model="order.postalIndex"
                                class="form-control"
                                type="postalIndex"
                                id="Input_PostalIndex"
                            />
                        </div>
                        <div>{{translations.find(x => x.code === "ChooseDeliveryType")["name"]}}</div>
                        <select
                            v-model="order.deliveryTypeId"
                            class="selectpicker"
                            title="Choose one of the following..."
                        >
                            <option
                                v-for="deliveryType in deliveryTypes"
                                :key="deliveryType.id"
                                v-bind:value="deliveryType.id"
                            >{{deliveryType.deliveryTypeName}} {{deliveryType.deliveryTypePrice}}$</option>
                        </select>
                        <div>{{translations.find(x => x.code === "OrderPrice")["name"]}}: {{order.orderPrice}} $</div>
                        <p></p>
                        <div class="form-group">
                            <button @click="buy($event)" class="btn btn-primary">{{translations.find(x => x.code === "Buy")["name"]}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { IItemDTO } from "@/types/IItemDTO";
import store from "../../store";
import router from "../../router";
import { uuid } from "vue-uuid";
import JwtDecode from "jwt-decode";
import { ICart } from "@/domain/ICart";
import { IPaymentMethod } from "../../domain/IPaymentMethod";
import { IDeliveryType } from "../../domain/IDeliveryType";
import { IOrderDTO } from "../../types/IOrderDTO";
import { IItemInCart } from "../../domain/IItemInCart";
import { IItem } from '@/domain/IItem';
import { ICulture } from '@/domain/ICulture';

@Component
export default class CartDetails extends Vue {
    private userId = "";
    private bought = false;

    get linkDetails(): string {
        return "/#/items/details/";
    }

    get paymentMethods(): IPaymentMethod[] {
        return store.state.paymentMethods;
    }

    get deliveryTypes(): IDeliveryType[] {
        return store.state.deliveryTypes.sort(function(a, b) { return Number(a.deliveryTypePrice) - Number(b.deliveryTypePrice) });
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    private order: IOrderDTO = {
        id: "",
        deliveryTypeId: "",
        appUserId: "",
        orderPrice: 0,
        paymentInfo: "",
        deliveryAddress: "",
        postalIndex: "",
        paymentMethodId: ""
    };

    get itemInCarts(): IItemInCart[] {
        return store.state.itemInCarts;
    }

    get cart(): ICart {
        return store.state.carts.filter(cart => {
            return cart.appUserId.includes(this.userId);
        })[0];
    }

    deleteOnClick(session: IItem): void {
        const itemInCarts = store.state.itemInCarts.filter(itemInCart => { return itemInCart.cartId === this.cart.id })
        const itemInCart: IItemInCart = itemInCarts.filter(itemInCart => { return itemInCart.itemId === session.id })[0]
        store.dispatch("deleteItemInCart", itemInCart.id);
    }

    buy(): void {
        console.log("buy");
        this.order.id = uuid.v5(uuid.v1(), uuid.v4());
        this.order.appUserId = this.userId;
        store.dispatch("createOrder", this.order).then((isCreated: boolean) => {
            if (isCreated) {
                for (const item of this.cart.items) {
                    item.orderId = this.order.id;
                    item.itemstatusId = "c5dbe707-73a2-480a-899e-62a4052a9dda";
                    store.dispatch("updateItem", item);
                    for (const itemInCart of this.itemInCarts) {
                        if (itemInCart.itemId === item.id) {
                            store.dispatch("deleteItemInCart", itemInCart.id);
                        }
                    }
                }
                this.bought = true;
            }
        });
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        store.dispatch("getPaymentMethods");
        store.dispatch("getDeliveryTypes");
        store.dispatch("getCarts");
        store.dispatch("getItemInCarts");
        console.log("mounted");
    }

    beforeUpdate(): void {
        this.order.orderPrice = 0;
        for (const item of this.cart.items) {
            this.order.orderPrice += item.price;
        }
        this.order.orderPrice += this.deliveryTypes.filter(deliveryType =>
            deliveryType.id.includes(this.order.deliveryTypeId)
        )[0].deliveryTypePrice;
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
<style scoped>
.img-fit {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
</style>
