<template>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle"
                href="javascript:{}"
                id="navbarLangDropdown"
                role="button"
                data-toggle="dropdown"
                aria-expanded="false"
            >{{culture.code}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarLangDropdown">
                <a
                    v-for="culture in cultures"
                    :key="culture.name"
                    class="dropdown-item"
                    @click="setCulture(culture)"
                >{{culture.name}}</a>
            </div>
        </li>
    </ul>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../store";
import { ICulture } from "@/domain/ICulture";
import Axios from "axios";
import router from "../router";

Vue.prototype.$http = Axios;
const langToken = localStorage.getItem("cultureCode");
const langToken2 = localStorage.getItem("cultureName");
if (langToken && langToken2) {
    const culture: ICulture = {
        code: langToken,
        name: langToken2
    };
    store.commit("setCulture", culture);
}

@Component
export default class Culture extends Vue {
    get culture(): ICulture {
        return store.state.culture;
    }

    get cultures(): ICulture[] {
        return store.state.cultures;
    }

    setCulture(culture: ICulture): void {
        localStorage.setItem("cultureCode", culture.code);
        localStorage.setItem("cultureName", culture.name);
        store.commit("setCulture", culture);
        location.reload();
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        store.dispatch("getCultures");
        console.log("mounted");
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
