<template>
    <ul class="navbar-nav">
        <template v-if="isAuthenticated">
            <li class="nav-item">
                <span class="nav-link text-dark">{{userEmail}}</span>
            </li>
            <li class="nav-item">
                <a @click="logoutOnClick" class="nav-link text-dark" href>Logout</a>
            </li>
        </template>
        <div v-else class="nav-item">
            <li class="nav-item">
                <router-link to="/account/login" class="nav-link text-dark">Login</router-link>
            </li>
            <li class="nav-item">
                <router-link to="/account/register" class="nav-link text-dark">Register</router-link>
            </li>
        </div>
    </ul>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import store from "../store";
import router from "../router";
import JwtDecode from "jwt-decode";
import Axios from "axios";

Vue.prototype.$http = Axios;
const token = localStorage.getItem("user");
console.log(token);
if (token) {
    store.commit("setJwt", token);
}

@Component
export default class Identity extends Vue {
    get isAuthenticated(): boolean {
        return store.getters.isAuthenticated;
    }

    get userEmail(): string {
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            return decoded[
                "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"
            ];
        }
        return "null";
    }

    logoutOnClick(): void {
        localStorage.removeItem("user");
        store.dispatch("clearJwt");
        router.push("/");
    }
}
</script>
