@model IEnumerable<Domain.App.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>@Resources.Views.Items.ItemIndex.ItemIndex.Index</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">@Resources.Views.Items.ItemIndex.ItemIndex.CreateNew</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location!.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemQuality!.QualityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemStatus!.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailedCategory!.DetailedCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCategory!.MainCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedAt)
            </td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Resources.Views.Items.ItemIndex.ItemIndex.Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@Resources.Views.Items.ItemIndex.ItemIndex.Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@Resources.Views.Items.ItemIndex.ItemIndex.Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
