﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MusicStore</h1>
    
    <h4>Backend</h4>
    <p>Read the backend <a href="/swagger/">RESTful api docs!</a></p>
    
    <h4>Frontend</h4>
    <p><a href="https://musicstore2020front.azurewebsites.net/">Web done in Vue!</a></p>
</div>
