<template>
    <div>
        <header>
            <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
            >
                <div class="container">
                    <router-link to="/" class="navbar-brand">Home</router-link>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <Culture />
                        <Identity />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <router-link to="/" class="nav-link text-dark">Home</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link to="/items" class="nav-link text-dark">{{translations.find(x => x.code === "Items")["name"]}}</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link
                                    to="/items/create"
                                    class="nav-link text-dark"
                                >{{translations.find(x => x.code === "CreateItem")["name"]}}</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link to="/carts/details" class="nav-link text-dark">{{translations.find(x => x.code === "Cart")["name"]}}({{cart.itemCount}})</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link to="/items/MyItems" class="nav-link text-dark">{{translations.find(x => x.code === "MyItems")["name"]}}</router-link>
                            </li>
                            <li class="nav-item" v-if="isAuthenticated">
                                <router-link
                                    to="/order/MyOrders"
                                    class="nav-link text-dark"
                                >{{translations.find(x => x.code === "MyOrders")["name"]}}</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                <router-view />
            </main>
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Identity from "./components/Identity.vue";
import store from "./store";
import { ICulture } from "./domain/ICulture";
import Culture from "./components/Culture.vue";
import { ICart } from './domain/ICart';
import JwtDecode from 'jwt-decode';

@Component({
    components: {
        Identity,
        Culture
    }
})
export default class App extends Vue {
    private userId = "";

    get isAuthenticated(): boolean {
        return store.getters.isAuthenticated;
    }

    get culture(): ICulture {
        return store.state.culture;
    }

    get translations(): ICulture[] {
        return store.state.specificCultures
    }

    get cart(): ICart {
        return store.state.carts.filter(cart => { return cart.appUserId === this.userId })[0];
    }

    // ============ Lifecycle methods ==========
    beforeCreate(): void {
        console.log("beforeCreate");
    }

    created(): void {
        console.log("created");
    }

    beforeMount(): void {
        console.log("beforeMount");
    }

    mounted(): void {
        console.log("mounted");
        if (store.state.jwt) {
            const decoded = JwtDecode(store.state.jwt) as Record<
                string,
                string
            >;
            this.userId =
                decoded[
                    "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"
                ];
        }
        console.log("ttteeettt " + this.userId)
        store.dispatch("getCarts")
        store.dispatch("getSpecificCultures")
    }

    beforeUpdate(): void {
        console.log("beforeUpdate");
    }

    updated(): void {
        console.log("updated");
    }

    beforeDestroy(): void {
        console.log("beforeDestroy");
    }

    destroyed(): void {
        console.log("destroyed");
    }
}
</script>
